.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comment {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  textarea {
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
    resize: none;
    scrollbar-width: thin;
  }
}

.buttons {
  align-self: flex-end;

  & > :not(:last-child) {
    margin-right: 8px;
  }
}
