@use '../pallete.scss' as pallete;

.label {
  $label-color: pallete.$brand-color;
  $arrow-border-width: calc(var(--arrow-size) / 2);
  $left-offset: var(--left-offset);

  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 3px;
  background-color: $label-color;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 40%);
  color: #ffffff;
  transition: opacity 300ms;

  &.saved {
    opacity: 0.8;

    &:hover {
      opacity: 1;
      z-index: 2;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border: $arrow-border-width solid transparent;
  }

  &.top-left,
  &.top-right {
    &::after {
      border-bottom-color: $label-color;
      top: 0;
      transform: translateY(-100%);
    }
  }

  &.bottom-left,
  &.bottom-right {
    &::after {
      border-top-color: $label-color;
      bottom: 0;
      transform: translateY(100%);
    }
  }

  &.top-left {
    transform: translateY(calc($arrow-border-width * 2));
    border-top-left-radius: 0;

    &::after {
      left: 0;
      border-left-color: $label-color;
    }
  }


  &.top-right {
    transform: translate(calc(-100% + $left-offset), calc($arrow-border-width * 2));
    border-top-right-radius: 0;

    &::after {
      right: $left-offset;
      border-right-color: $label-color;
    }
  }

  &.bottom-left {
    transform: translateY(calc(-100% - $arrow-border-width * 2));
    border-bottom-left-radius: 0;

    &::after {
      left: 0;
      border-left-color: $label-color;
    }
  }

  &.bottom-right {
    transform: translate(calc(-100% + $left-offset), calc(-100% - $arrow-border-width * 2));
    border-bottom-right-radius: 0;

    &::after {
      right: $left-offset;
      border-right-color: $label-color;
    }
  }
}
