body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.upload {
  flex-shrink: 0;
}

.main,
.preview-with-labels {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
}

.main {
  flex-direction: column;
}

.preview-with-labels {
  justify-content: center;
  align-items: center;
}

.preview-with-labels-container {
  position: relative;
}

.preview,
.preview img {
  width: 100%;
  height: 100%;
}

.preview img {
  vertical-align: top;
}

.labels {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.labels li {
  position: absolute;
  padding: 5px 10px;
  border: 1px solid red;
}
